name: Cascade Merge

on:
  workflow_run:  # The only compatible trigger. A dedicated workflow is recommended.
    workflows: ["Verify"] # A workflow that verifies your maintenance branches
    types: [completed] # The only compatible status
    #branches-ignore: ["merge/**"] # these are created by the action and have to be manually merged
    branches: [release/2.6, release/2.7] # To reduce worfklow report noise, enumerate all origin branches from dependency_graph below. Optional, action will do nothing if branch is not represented in dependency_graph. Conflicts with branches-ignore. 

jobs:
  cascade:
    permissions:
      pull-requests: write # No PRs are created and warnings are produced without this permission.
      contents: write # Important. Allows branch creation.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN || secrets.GITHUB_TOKEN }} # To trigger downstream workflows after push

      - name: Merge upstream to downstreams in temporary branches
        id: cascade
        uses: basilevs/cascade-merge@v1
        with:
          dependency_graph: |
            release/2.6: release/2.7
            release/2.7: main
            main: timeout_45
