name: Verify
on:
- push
- pull_request
permissions:
  checks: write
jobs:
  maven:
    runs-on: ubuntu-latest
    steps:
      - name: Run Maven
        run: |
          echo Do nothing. This is  a dummy branch.
